// Fonts
$f-primary: 'Montserrat', sans-serif;
$f-secondary: "Raleway", sans-serif;

// Colors
$c-primary: #132C33;
$c-secondary: #126E82;
$c-tertiary: #51C4D3;
$c-quarternary: #D8E3E7;

$c-black: #000;
$c-white: #fff;
