// Fonts
$f-primary: 'Montserrat', sans-serif;
$f-secondary: "Raleway", sans-serif;

// Colors
$c-primary: #303841;
$c-secondary: #3A4750;
$c-tertiary: #00ADB5;
$c-quarternary: #EEEEEE;

$c-black: #000;
$c-white: #fff;
